@import "calzados";
@import "inicio";
@import "contacto";
@import "footer";
@import "marroquineria";
@import "navbar";
@import "preguntas";
@import "error";

$color0: #EDE0D4;
$color1: #E6CCB2;
$color2: #DDB892;
$color3: #B08968;
$color4: #7F5539;
$color5: #9C6644;

@media (min-width:1024px) {
    .navbar-brand{
        font-size: 2rem;
    }
    .portada{
        background-image: url(../img/Portada.png);
        padding: 18rem;
        height: 15rem;
        .portada__ver-productos{
            font-size: 2rem * 3;
        }
    }
    .portada_texto{
        font-size: 3rem;
    }
    #card_index{
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr, 1fr 1fr;
    }
    .card{
        flex-direction: inline;
    }
    .card-body{
        align-items: center;
    }
    .catalogo{
        display:grid;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-item{
    
        display:inline-grid;
        text-align: center;
        align-items: center;
        padding: 1rem;
        border: ridge 1px $color2;
    }
    .h1contacto{
        font-size: 2rem;
    }
    .h1preguntas{
        font-size: 2rem;
    }
    .h1calzado{
        font-size: 2rem;
    }
    
}
@media (max-width:480px){
    #card_index{
        padding: 0 2rem 1rem 2rem;
        align-items: center;
        margin-left: 2rem;
    }
    .card{
        margin-top: 1rem;
        align-items: center;
        border: 1px $color1 solid;
        background-color: $color0;
    }
}